body{background: url(2.jpg) no-repeat;
background-size: auto;}
table, th, td {
   border: 0px solid black;}
td.start {
    color: white;
    text-align: center;
    background-color: rgb(39,117,180);
	font-size: 250%;
	font-family: "Arial Black"; cursor: pointer;
}
td.start:hover {
    color: rgb(162,157,131);
	text-align: center;
    background-color: rgb(39,117,180);
	font-size:250%; cursor:pointer;
}

td.menu 
{
    background-color: rgb(39,117,180);
	text-align: center;
	font-family: "Arial Black"; cursor:pointer;
}
td.menu:hover 
{
    background-color: rgb(162,157,131); cursor:pointer;
}
p,br.menu2{text-align: center;}
td.menu1
{font-size: 150%;
color: black;
background-color: rgb(39,117,180);}
div.m
{text-align: left; font-size: 100%}
h2{font-family: "Arial Black";
text-align: center;}
div.map{position: absolute;width: 50%; height: 50%}

  

